.login {
  width: 100%;
  max-width: 425px;
  min-height: 650px;
  display: flex;
  flex-direction: column;
  background: var(--color-white);
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.8);
  padding: 24px;
}

.login .title-login h3 {
  margin-top: 4rem;
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;
}
.login .title-login p {
  margin-top: 12px;
  font-size: 0.9rem;
  font-weight: 500;
  text-align: center;
}

.login .form-login {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.login .form-login .input-form label {
  font-weight: 500;
  font-size: 0.9rem;
}

.login .form-login .btn-login {
  padding: 7px 20px;
  border-radius: 5px;
  cursor: pointer;
  background-color: var(--btn-secondary);
  font-size: 1.1rem;
}

.login .form-login .btn-login:hover {
  filter: contrast(1.2);
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.4);
}

.login .to-register {
  margin-top: 1rem;
  font-size: 0.8em;
  text-align: center;
  color: var(--color-gray);
}
.login .to-register a {
  font-weight: 500;
  color: var(--color-purple);
  opacity: 0.8;
}
.login .to-register a:hover {
  opacity: 1;
}
