.chat {
  width: 100%;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  background: var(--color-white);
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.8);
  padding: 24px;
}

.messages {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.messages .message{
  display: flex;
  gap: 5px;
  align-items: center;
}
.messages .message .avatar-message{
  width: 35px;
  height: 35px;
  border-radius: 50%;
  object-fit: cover;
}
.messages .message p{
  font-size: .85rem;
  border-radius: 25px;
  padding: 5px 12px;
}
.messages .send {
  justify-content: end;
  flex-direction: row-reverse;
}
.messages .send p {
  background-color: var(--btn-primary);
}
.messages .receive {
  justify-content: start;
}
.messages .receive p {
  background-color: #0ea5e9;
}

.chat .form {
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}
.chat .form input {
  padding: 10px 20px;
  font-size: 0.9rem;
  border-radius: 5px;
  border-bottom: 1px solid #ddd;
  background-color: #f5f2f2;
  flex: 2;
}
.chat .form button {
  flex: 1;
  padding: 8px 15px;
  background-color: var(--btn-primary);
}
