.input input {
  margin-top: 10px;
  width: 100%;
  padding: 10px 20px;
  font-size: 0.9rem;
  border-radius: 5px;
  border: 1px solid #ddd;
  background-color: #fdfdfd;
}
.input input:focus {
  background-color: #f3f4f6;
  border: 3px solid #a78bfa;
}
.input input:invalid {
  background-color: #fce7f3;
  border: 3px solid #f9a8d4;
}
