.search {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.search .input-search {
  padding: 6px 8px;
  border-bottom: 1px solid #ddd;
  background-color: #fdfdfd;
}
.search .input-search .icon-search {
  width: 21px;
  height: 21px;
  margin-right: 10px;
  margin-bottom: -5px;
}
.search .input-search input {
  width: 70%;
  font-size: 1rem;
}

.search .looking-user {
  font-size: 0.9rem;
  font-style: italic;
  font-weight: 300;
}

.search .not-found {
  font-size: 0.9rem;
}
